<div class="sidebar">
  <div class="logo">
    <img src="/images/logo.png" alt="" />
    <p>Chore<span>Pro</span></p>
  </div>

  <div class="personal">
    <a href="">My Dashboard</a>
    <section>
      <a href="">My Contacts</a>
      <img
        style="width: 20px; height: 30px; padding-bottom: 8px; margin-top: 3px"
        src="/images/crown.png"
        alt=""
      />
    </section>
    <section>
      <a href="">My Assignments</a>
      <img
        style="width: 20px; height: 30px; padding-bottom: 8px; margin-top: 3px"
        src="/images/crown.png"
        alt=""
      />
    </section>
  </div>

  <div class="marketing">
    <h4>Marketing</h4>
    <div class="imgs" style="margin: 10px 0px">
      <img src="/images/p2.png" style="width: 40px; margin: 0px 2px" alt="" />

      <img src="/images/p3.png" style="width: 40px; margin: 0px 2px" alt="" />

      <img src="/images/p5.png" style="width: 40px; margin: 0px 2px" alt="" />

      <img src="/images/p4.png" style="width: 40px; margin: 0px 3px" alt="" />
    </div>
    <a href="">Team Conversations</a>
    <a href="">Team Calender</a>
  </div>
  <div class="projects">
    <h4>Projects</h4>
    <a href="">Assigned</a>
    <a href="">Completed</a>
  </div>
</div>
